version: "3.9"

services:
  db:
    image: postgres:15
    container_name: crc_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: crc_db
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: crc_app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/crc_db
